/* cocktail */
.wrapper-cocktail {
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
}

.wrapper-cocktail .text {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

.wrapper-cocktail:hover .text {
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
}

@media screen and (max-width: 640px) {
    .wrapper-cocktail .text {
        transform: translateY(0%) !important;
    }
}