/* nav icon */
.nav-icon {
    stroke-width: 0;
    font-size: 22px;
    color: rgb(76 29 149);
}

/* sidebar */
.sidebar {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms ease;
}

.sidebar.hide {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 200ms ease;
}

.sidebar .header-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    margin-bottom: 30px;
}

.sidebar .btn-menu-close {
    border: none;
    background-color: transparent;
    color: rgb(76 29 149);
    cursor: pointer;
}

.sidebar .btn-menu-close i {
    font-size: 16px;
}



/* list links menu */
.list-links li:hover {
    cursor: pointer;
}

.list-links li:hover .nav-link {
    color: rgb(236 72 153);
    transition: color 300ms ease-in-out;
}

.list-links li:hover .nav-icon {
    color: rgb(236 72 153);
    transform: scale(1.08);
    transition: all 300ms ease-in-out;
}

/* socials */
.sidebar .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    color: rgb(76 29 149);
}

.sidebar .socials li .nav-icon:hover {
    transform: scale(1.08);
    color: rgb(236 72 153);
    transition: all 300ms ease-in-out;
}